
:root {
    --gray: #D9D9D9;
    --white: #ffffff;
    --dark-blue: #051923;
    --pink: #C22CB3;
    --yellow: #B6A50E;
    --blue: #0E76A8;
    --navy-blue: #006494;
    

    /* Portifolio 2.0 */

    --green-water: #72BEC0;
    --matte-blue: #202733;
    --dark-grey: #2B3443;
    --grey: #434A55;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', monospace;
}

body{
    background-color: var(--matte-blue);
    
}

header{
    background-color: var(--matte-blue);
    height: 72px;
    min-width: 100%;  
    position: fixed; 
    top: 0%;
    z-index: 10;
    
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

header nav h1{
    color: var(--white);
    font-size: 1.5rem;
    text-align: center; 
}

.menu-name a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-left: 70px;
}


.menu-name{
    height: 72px;
    display: flex;
    align-items: center;  
    text-align: center;    
}

.menu-contacts nav {
    display: flex;
    justify-content: center;
    
    margin-right: 70px;
}

.menu-contacts nav ul {
    display: flex;
    justify-content: space-between;
    gap: 62px;
    
}

.menu-contacts nav ul li{
    list-style: none;
    color: var(--white);
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
       
}

.menu-contacts nav ul li:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--green-water);
    transition: all 0.1s;
    transform: scale(1.1);
    margin-top: -3px;
}

.container-short-presentation{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 70px;
}

.short-presentation{
    width: 550px;
    
}

.short-presentation span {
    color: var(--green-water);
    font-weight: bolder;
}

.short-presentation h1{
    color: var(--white);
    margin-top: 8px;
    margin-bottom: 32px;    
}

.short-presentation p{
    color: var(--white);  
    
}

.button-download-curriculum{
    width: 228px;
    height: 50px;
    margin-top: 32px;
    border: 3px solid var(--green-water);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: var(--green-water);
    font-weight: bold;
}

.button-download-curriculum:hover{
    cursor: pointer;
}

.developer-activity{
    margin-left: 200px;
    width: 422px;
     
}

.developer-activity img{    
    width: 450px;
}



.container-vector-top{
    background-image: url("./Icons/Vector-top.png");
    width: 100%;
    height: 321px;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.container-vector-bottom{
    background-image: url("./Icons/Vector-bottom.png");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.about-my{
    height: 321px;
    background-color: var(--dark-grey);
    margin-top: -2px;
    margin-bottom: -2px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: var(--white);
    text-align: center;
}

.about{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}



.about p{
    width: 687px;
    font-size: 20px;
    font-weight: lighter;   
}

.about h2{
    margin-bottom: 40px;
}

.title-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 42px;
}

.title-section h1{
    font-size: 32px;
    font-weight: bolder;  
    color: var(--white); 
    
}

.title-tag{
    width: 21px;
    height: 21px;
    border: solid 2px var(--green-water);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-tag .circle{
    width: 13px;
    height: 13px;
    background-color: var(--green-water);
    border-radius: 100%;
}

.profile-contacts{
    
    height: 321px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.profile-picture{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: solid 5px var(--green-water);
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    height: 130px;
    width: 130px;
    border-radius: 100%;
    background-color: var(--white);
}

.profile-contacts h1 {
    font-weight: lighter;
    margin-top: 8px;
}

.profile-contacts .contacts{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.profile-contacts .contacts img:hover{
    cursor: pointer;
}

.all-skills{
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
}

.skill{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    text-align: center;
    
}

.skill img {
    width: 60px;
    height: 60px;
}

.skill span{
    margin-bottom: 8px;
    font-weight: bold;
}

.container-card{
    width: 353px;
    height: 450px;
    background-color: var(--dark-grey);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-width: 17rem;
    padding: 16px;
}


.container-projects{
    margin-top: 168px;
}


.container-about-project{
    display: flex;
    flex-direction: column;
    gap: 90px;

}

.about-project{
    margin-top: 24px;
}

.about-project h1{
    color: var(--white);
    margin-bottom: 24px;
    
}

.about-project p{
    color: var(--white);
    font-weight: bold;
    font-size: 17px;
}

.container-more-information{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-more-information .more-information {
    height: 33px;
    width: 133px;
    background-color: var(--matte-blue);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green-water);
    font-weight: bold;   
    cursor: pointer; 
}

.more-information:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.container-information{
    margin-top: -16px;
    margin-left: -16px;
    width: 353px;
    height: 450px;
    border-radius: 4px;
    background-color: var(--dark-grey);
    position: absolute; 
    padding: 16px;
    color: var(--white);
    visibility: hidden;   
}

.information{
    background-color: #C22CB3;
    height: 100%;
}

.information h1{
    text-align: center;
}    

.information p{
    font-weight: bolder;
    margin-top: 24px;
    font-size: 17px;
    text-align: center;
}   


/****************** REUTILIZAÇÃO ***********************/







 



.container-cards-web {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: space-between; 
    margin-left: clamp(1rem , 5vw , 4.6rem);
    margin-right: clamp(1rem , 5vw , 4.6rem); 
    min-width: 20rem; 
}

footer{
    background-color: var(--dark-blue);
    height: 310px;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    padding-left: clamp(1rem , 5vw , 4.6rem);
    padding-right: clamp(1rem , 5vw , 4.6rem);  
    
}

footer .menu-contacts {
    width: max-content;
    margin-left: -10px;
    margin-top: 16px;
    display: flex;
    gap: clamp(0rem , 0.6vw , 0.5rem);
    margin-right: 10px;
    margin-bottom: 16px;
}

/* 
.about , .contacts , .academic-education{
    width: clamp( 17rem , 30vw , 21rem);
    word-wrap: break-word;
    margin-left: 8px;   
}

.about h1 , .contacts h1 , .academic-education h1{
    margin-top: 24px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 8px;
    font-size: clamp(1.2rem , 3vw , 1.5rem);
}

.about p , .contacts p , .academic-education p{
    color: var(--white);
    font-weight: bold;
    font-size: clamp(0.9rem , 2vw , 1rem);
}
 */


.container-buttons{
    display: flex;
    gap: 40px;
    font-weight: bolder;
    font-size: clamp(0.9rem , 2vw , 1rem);
    justify-content: center;
}

.container-buttons a {
    text-decoration: none;
}

.button-page-or-page-github{
    width: 151px;
    height: 41px;
    background-color: var(--blue);
    border-radius: 16px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    cursor: pointer;    
}

.container-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

.container-close-information img{
    width: 16px;
    cursor: pointer;
}

.container-close-information{
    display: flex;
    justify-content: end;
    
}

@media (max-width: 1025px) {
    .container-cards-web , .container-cards-mobile , 
    .container-cards-backend{
        justify-content: center;
        margin: 0px;
    }

}

@media (max-width: 801px) {
    footer{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;      
    }
}
 

 



